@page
@model FitLogNeo.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<p>
	FitLogNeo is a fitness journaling app that allows you to keep track of
	your exercise sessions. It is freely usable and open-source under the terms
	of the <a href="https://opensource.org/license/bsd-3-clause" rel="noopener noreferrer" target="_blank">BSD-3-Clause</a> license.
	The source code is available <a href="https://github.com/hoogmin/fitlogneo" rel="noopener noreferrer" target="_blank">here</a>.
	For information about how this app uses your data, see the <a asp-area="" asp-page="/Privacy">privacy policy</a>.
</p>
